@tailwind base;
@tailwind components;
@tailwind utilities;

/* color app => d5eb34  */
:root {
  --PrimaryColor: #d5eb34;
}

* {
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
  font-family: "Rubik Mono One", sans-serif;
  color: white;
  background-color: #232323;
}
html {
  scroll-behavior: smooth;
}
.container {
  width: 85%;
  margin: 30px auto;
}

/* S  Nav Ber */
.spans .span > span {
  width: 12px;
  height: 5.3px;
  background-color: var(--PrimaryColor);
}

.list a {
  width: 0;
  position: relative;
  border-bottom: 3px solid transparent;
  text-align: center;
  transition: all 0.3s;
  z-index: 10;
}

.list a::after {
  position: absolute;
  left: -1px;
  bottom: -5px;
  content: "";
  background: grey;
  width: 0%;
  height: 3px;
  z-index: -2;
  transition: all 0.3s;
}

.list a:hover::after,
.list a:focus::after {
  width: 103%;
  color: red;
}

.list a::before {
  position: absolute;
  left: -1px;
  top: -1px;
  content: "";
  background: var(--PrimaryColor);
  width: 16px;
  height: 20px;
  z-index: -1;
  transition: all 0.3s;
  border-bottom: 3px solid transparent;
}

.list a:hover::before,
.list a:focus::before {
  width: 103%;
}
/* E  Nav Bar */
.boxes {
  --size: 50px;
  --duration: 800ms;
  height: calc(var(--size) * 2);
  width: calc(var(--size) * 3);
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  margin-top: calc(var(--size) * 1.5 * -1);
  transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
}

.boxes .box {
  width: var(--size);
  height: var(--size);
  top: 0;
  left: 0;
  position: absolute;
  transform-style: preserve-3d;
}

.boxes .box:nth-child(1) {
  transform: translate(100%, 0);
  -webkit-animation: box1 var(--duration) linear infinite;
  animation: box1 var(--duration) linear infinite;
}

.boxes .box:nth-child(2) {
  transform: translate(0, 100%);
  -webkit-animation: box2 var(--duration) linear infinite;
  animation: box2 var(--duration) linear infinite;
}

.boxes .box:nth-child(3) {
  transform: translate(100%, 100%);
  -webkit-animation: box3 var(--duration) linear infinite;
  animation: box3 var(--duration) linear infinite;
}

.boxes .box:nth-child(4) {
  transform: translate(200%, 0);
  -webkit-animation: box4 var(--duration) linear infinite;
  animation: box4 var(--duration) linear infinite;
}

.boxes .box > div {
  --background: #e7fd3d;
  --top: auto;
  --right: auto;
  --bottom: auto;
  --left: auto;
  --translateZ: calc(var(--size) / 2);
  --rotateY: 0deg;
  --rotateX: 0deg;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--background);
  top: var(--top);
  right: var(--right);
  bottom: var(--bottom);
  left: var(--left);
  transform: rotateY(var(--rotateY)) rotateX(var(--rotateX))
    translateZ(var(--translateZ));
}

.boxes .box > div:nth-child(1) {
  --top: 0;
  --left: 0;
}

.boxes .box > div:nth-child(2) {
  --background: #98a72e;
  --right: 0;
  --rotateY: 90deg;
}

.boxes .box > div:nth-child(3) {
  --background: #ccde40;
  --rotateX: -90deg;
}

.boxes .box > div:nth-child(4) {
  --background: #d6eb3451;
  --top: 0;
  --left: 0;
  --translateZ: calc(var(--size) * 3 * -1);
}

@-webkit-keyframes box1 {
  0%,
  50% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(200%, 0);
  }
}

@keyframes box1 {
  0%,
  50% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(200%, 0);
  }
}

@-webkit-keyframes box2 {
  0% {
    transform: translate(0, 100%);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100%, 0);
  }
}

@keyframes box2 {
  0% {
    transform: translate(0, 100%);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100%, 0);
  }
}

@-webkit-keyframes box3 {
  0%,
  50% {
    transform: translate(100%, 100%);
  }

  100% {
    transform: translate(0, 100%);
  }
}

@keyframes box3 {
  0%,
  50% {
    transform: translate(100%, 100%);
  }

  100% {
    transform: translate(0, 100%);
  }
}

@-webkit-keyframes box4 {
  0% {
    transform: translate(200%, 0);
  }

  50% {
    transform: translate(200%, 100%);
  }

  100% {
    transform: translate(100%, 100%);
  }
}

@keyframes box4 {
  0% {
    transform: translate(200%, 0);
  }

  50% {
    transform: translate(200%, 100%);
  }

  100% {
    transform: translate(100%, 100%);
  }
}
/* E Animation */
/* S Footer  */
.social > a {
  position: relative;
  z-index: 1;
}
.social > a::before {
  width: 0%;

  transition: all 0.3s;
  content: "";
  position: absolute;
}
.social > a:hover::before {
  width: 100%;
  height: 100%;
  background: var(--PrimaryColor);
  z-index: -1;
}
/* E  Footer*/
